<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>대여 내역 조회 페이지</title>
  <link rel="stylesheet" type="text/css" href="/css/rent/selectRentHistoryByUser.css">
</head>

<body class="rent-history-body">

<div class="rent-history-list">
  <th:block th:each="rent : ${historyRentList}">
    <div class="rent-history-item">
      <div class="rent-history-book-cover"></div>
      <div class="rent-history-book-info">
        <p>도서명 : <span th:text="${rent.bookTitle}"></span></p>
        <p>대여일 : <span th:text="${rent.rentDate}"></span></p>
        <p>반납일 : <span th:text="${rent.returnDate}"></span></p>
      </div>
    </div>
  </th:block>
</div>

</body>
</html>

