.rent-history-body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 20px;
}

.rent-history-h2 {
    text-align: center;
    padding-right: 400px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    margin-top: 100px;
}

.rent-page-h2 h2 {
    margin: 0;
}

.rent-history-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-left: 250px;
    margin-top: 50px;
}

.rent-history-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    display: flex;
    gap: 20px;
    text-align: left;
    transition: transform 0.3s ease;
}

.rent-history-item:hover {
    cursor: auto;
}

.rent-history-book-cover {
    width: 100px;
    height: 150px;
    background-color: #ddd;
    border-radius: 5px;
}

.rent-history-book-info {
    padding-left: 30px;
    flex: 1;
}

.rent-history-book-status {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.rent-history-book-info p {
    margin: 5px 0;
    color: #555;
}
