<!-- nav bar -->
<nav  th:fragment="nav" class="navbar navbar-expand-lg nav-color">
  <div class="container-fluid">
    <a class="navbar-brand" th:onclick="|location.href='@{/adminMain}'|">Home</a>
    <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">회원관리</a>
        <a class="nav-link" href="#">책 대출관리</a>
        <a class="nav-link" href="#">Logout</a>
      </div>
    </div>
  </div>
</nav>