body {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 180px;
}

.row {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.card {
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-title {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.book-author {
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-image img {
    object-fit: cover;
    height: 300px;
    width: 100%;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.card a {
    color: #000000;
    text-decoration: none;
}

.card a:hover {
    text-decoration: underline;
}

span {
    margin: 8px;
}