<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/css/home.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<!--  <style>-->

<!--    body{-->
<!--      justify-content: center;-->
<!--      display: block !important;-->
<!--      min-width: 1519px;-->
<!--      padding-top: 200px;-->
<!--    }-->
<!--  </style>-->

</head>
<body>
<div th:replace="~{fragments/userHeader}"></div>
<div th:replace="~{fragments/categorybar (subjects=${subjects})}"></div>

  <div class="row">
    <h4 th:if="${currentSubject != null}"><span th:text="${currentSubject.name}"></span>의 도서 목록</h4>
    <h4 th:if="${keyword != null and keyword != ''}"><span th:text="${keyword}"></span>의 검색 결과</h4>
  </div>

  <div class="row">
    <div class="col s12 m6 l3" th:each="book : ${books}">
      <div class="card">
        <a th:href="@{/books/{id}(id=${book.bookId})}" class="card-link">
          <div class="card-image">
            <img th:src="@{${book.imageUrl}}" alt="Book Image">
          </div>
          <div class="card-content">
            <p class="book-title" th:text="${book.title}"></p>
            <p class="book-author" th:text="${book.author}"></p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script type="module" src="/js/api.js"></script>
  <script type="module" src="/js/book.js"></script>
</body>
</html>