<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>관리자 메인페이지</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
      integrity="sha256-9kPW/n5nn53j4WMRYAxe9c1rCY96Oogo/MKSVdKzPmI="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!--end::Third Party Plugin(Bootstrap Icons)-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/adminlte.css}">
  </head>

  <body class="layout-fixed sidebar-expand-lg bg-body-tertiary">
    <div class="app-wrapper">
         <div th:replace="~{fragments/adminNav :: adminNav}"></div>
        <div th:replace="~{fragments/adminSide :: adminSide}"></div>
    </div>
<!--    <div th:replace="~{fragments/admin :: admin}"></div>-->
  </body>
</html>
